<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<h2 class="heading-37">ログイン</h2>

<th:if="${errorList}" style="color: red; margin-bottom: 15px;">
	<li th:each="err : ${errorList}" th:text="${err}"></li>

	<body>

		<form th:action="@{/login}" method="post">

			<label>
				<span class="textbox-1-label"></span>
				<input type="text" name="email" class="textbox-1" placeholder="メールアドレス" /><br>
			</label>
			<label>
				<span class="textbox-1-label"></span>
				<input type="text" name="password" class="textbox-1" placeholder="パスワード"><br>
			</label>


			<p>
				<button class="button-49">ログイン</button>
			</p>
		</form>

		<div class="button_solid001">
			<a th:href="@{/users/new}">新規会員登録</a>
		</div>


	</body>

</html>