<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ閲覧画面</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<form th:action="@{/recipes}" method="get" style="display: inline;">
		
		<div class="search-form-4">

		        <div class="search-box-wrapper">
		        <button type="submit" aria-label="検索"></button>
		        <input type="text" name="keyword" th:value="${keyword}" placeholder="検索">
		    </div>

		   
		    <button type="submit" class="button-3">検索</button>

		    
		    <input type="button" th:onclick="|location.href='@{/recipeCreate}'|" value="投稿" class="button-3">

		</div>


			
	</form>
	
	
	<table class="recipe-table">
	    <tr>
	        <th>料理名</th>
	        <td th:text="${recipe.name}">料理名</td>
	    </tr>
	    <tr>
	        <th>作り方</th>
	        <td>
	            <div class="recipe-text-box" th:text="${recipe.recipe}" style="white-space: pre-wrap;">
	              
	            </div>
	        </td>
	    </tr>
	</table>

			</p>


		</div>

	

</body>
</html>