<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レシピ一覧</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<h1 class="heading-4">レシピ投稿サイト</h1>
	<p th:text="${loginUser?.name} + 'さんがログインしました'"></p>


	<form th:action="@{/recipes}" method="get" class="search-form-4">

		<div class="search-box-wrapper">
			<button type="submit" aria-label="検索"></button>
			<input type="text" name="keyword" th:value="${keyword}" placeholder="検索">
		</div>

		<button type="submit" class="button-2">検索</button>
		<input type="button" th:onclick="|location.href='@{/recipeCreate}'|" value="投稿" class="button-2">

		<div class="button011">
			<a th:href="@{/logout}" class="my-logout-link">ログアウト</a>
		</div>


	</form>


	<div class="button_line001">
		<a th:href="@{/recipes}">全レシピ</a>
		<span th:each="catName, status : ${categoryNames}" th:remove="tag">
			<a th:href="@{/recipes(categoryId=${status.count})}" th:text="${catName}">カテゴリー名</a>
		</span>
	</div>

	<p>
	<h2 class="heading-6">レシピ一覧</h2>
	</p>

	<div class="table-container">
		<table>
			<tr th:each="recipe : ${recipes}">
				<td>
					<a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.name}" class="box">料理名</a>
				</td>
			</tr>
		</table>
	</div>



</body>

</html>