<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
</head>
<body>
	
	<h1>レシピ投稿サイト</h1> 
	
	<form th:action="@{/recipes}" method="get" style="display: inline;">
	    <input type="text" name="keyword" th:value="${keyword}" placeholder="検索">
	    <button type="submit">検索</button>
		<input type="button" th:onclick="|location.href='@{/recipeCreate}'|" value="投稿"><br>
		</form>
	
	  <span>カテゴリー：</span>
	  
	  <a th:href="@{/recipes}">全レシピ</a>
	
	  <span th:each="catName, status : ${categoryNames}" >
	      <a th:href="@{/recipes(categoryId=${status.count})}" th:text="${catName}">カテゴリー名</a>
	  </span>
		
	  <p>レシピ一覧</p>
	  <table>
	      <tr th:each="recipe : ${recipes}">
	          <td>
	              <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.name}">料理名</a>
	          </td>
	      </tr>
	  </table>
		
</body>
</html>